<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847114241927-5oenj7jn06iqc74cobst65g77v8s1vqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847114241927-5oenj7jn06iqc74cobst65g77v8s1vqj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>847114241927-djgn1rancd56qsnq8upegbbusbr8onk7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBjMtZN0pvZrQgSexrYlT8ZwtLleG01CGA</string>
	<key>GCM_SENDER_ID</key>
	<string>847114241927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-bb519</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-bb519.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847114241927:ios:1ad2c955a83edf3289b522</string>
</dict>
</plist>